<form action="{{ url(addrecipe)}}" method="POST">

    <input type="hidden" name="id" value="{{ cocktail.getId() }}" />

    <label for="name">Nom du cocktail</label>
    <input type="text" name="name" value="{{ cocktail.getName() }}" />
<hr />
    <label for="description">Description : </label>
    <input type="text" name="description" value="{{ cocktail.getDescription() }}" />
<br /><br />
    <label for="status">Status : </label>
    <select name="status">
        <option value="" >Choisir</option>
        {% for state in status %}
        <option value="{{ state.getId() }}" >{{ state.getName() }}</option>
        {% endfor %}
    </select>
<hr />
    <label for="type">Type : </label>
        <select name="type">
            <option value="" >Choisir</option>
        {% for type in types %}
            <option value="{{ type.getId() }}" >{{ type.getName() }}</option>
        {% endfor %}
        </select>
<hr />
    <label for="categories">Catégories : </label>
        <select multiple name="categories[]">
            {% for category in categories %}
            <option value="{{ category.getId() }}" >{{ category.getTitle() }}</option>
            {% endfor %}
        </select>
<hr />
    <label for="ingredients">Ingrédients : </label>
    <select multiple name="ingredients[]">
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.getId() }}" >{{ ingredient.getName() }}</option>
        {% endfor %}
    </select>
<hr />
    <input type="submit" value="add" />
</form>
