<h1>{% if product %}
    Modifier le produit {{ product.getTitle() }} ( {{ product.getId() }})
    {% else %}Ajouter un produit{% endif %}
</h1>

{% if flashMessenger().hasMessages() %}
    {% for message in flashMessenger().getMessages() %}
    <span class="alert alert-success" role="alert">
        {{ message }}
    </span>
    {% endfor %}
{% endif %}


{% for article in product.getArticles %}
<form action="{{ url(admineditarticles)}}{{ product.getId() }}"
                        method="POST" class="form-horizontal">
    {% set volume = '' %}
    {% set abbreviation = '' %}
    {% set price = '' %}
    {% set specialPrice = '' %}

    {% for value in article.getCharacteristicsvalues() %}
        {% if value.getCharacteristic().getAbbreviation() == 'Volume' %}
            {% set volume = value.getValue() %}
            {% set abbreviation = value.getCharacteristic().getAbbreviation() %}
        {% endif %}
    {% endfor %}

    {% for artprice in article.getPrices() %}

        {% set price = artprice.getValue() %}
        {% set specialPrice = artprice.getSpecialValue() %}

    {% endfor %}

        <input type="hidden" name="id" value="{{ product.getId() }}" />
        <input type="hidden" name="article_id" value="{{ article.getId() }}" />

        <div class="form-group">
            <label for="code"  class="col-sm-2 control-label">Code : </label>
            <input type="text" name="code" value="{{ article.getCode() }}" />
        </div>
        <div class="form-group">
            <label for="volume"  class="col-sm-2 control-label">Volume : </label>
            <input type="text" name="volume" value="{{ volume }}" />
        </div>
        <div class="form-group">
            <label for="price"  class="col-sm-2 control-label">Prix : </label>
            <input type="text" name="price" value="{{ price }}" />
        </div>
        <div class="form-group">
            <label for="specialPrice" class="col-sm-2 control-label">Prix HH : </label>
            <input type="text" name="specialPrice" value="{{ specialPrice }}" />
        </div>

      <div class="form-group text-centered">
        <input type="submit" value="Valider" class="btn btn-large btn-primary  center-block"  />
      </div>
</form>
{% endfor %}

    <div class="form-group">
        <label for="volume"  class="col-sm-2 control-label">Volume : </label>
        <input type="text" name="volume" value="" />
    </div>
    <div class="form-group">

        <label for="price"  class="col-sm-2 control-label">Prix : </label>
        <input type="text" name="price" value="" />
    </div>
    <div class="form-group">
        <label for="specialPrice"  class="col-sm-2 control-label">Prix HH : </label>
        <input type="text" name="specialPrice" value="" />
    </div>

  <div class="form-group text-centered">
    <input type="submit" value="Valider" class="btn btn-large btn-primary  center-block"  />
  </div>


<p>
    <a href="{{ url('admincategorieslist') }}">Listing catégories</a> |
    <a href="{{ url('adminproductslist') }}">Listing produits</a> |
    <a href="{{ url('admineditproduct') }}" >Ajouter un produit</a>
</p>
