<h1>{% if product %}Modifier le produit {{ product.getId() }}{% else %}Ajouter un produit{% endif %}</h1>

{% if flashMessenger().hasMessages() %}
    {% for message in flashMessenger().getMessages() %}
    <span class="alert alert-success" role="alert">
        {{ message }}
    </span>
    {% endfor %}
{% endif %}
<hr />

<form action="{{ url(admineditproduct)}}{{ product.getId() }}" method="POST" class="form-horizontal">

    <input type="hidden" name="id" value="{{ product.getId() }}" />

    <div class="form-group">
        <label for="titre"  class="col-sm-2 control-label">Nom : </label>
        <input type="text" name="title" value="{{ product.getTitle() }}" />
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description : </label>
        <textarea name="description"
            style="min-width: 480px;">{{ product.getDescription() }}</textarea>
    </div>

    <div class="form-group">
        <label for="state" class="col-sm-2 control-label">Status : </label><br />
        <select name="state">
            <option value="" >Choisir</option>
            {% for state in states %}
            <option value="{{ state.getId() }}"
            {% if product.getState() == state %}selected="selected"{% endif %}
            >{{ state.getName() }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type : </label><br />
        <select name="type">
            <option value="" >Choisir</option>
            {% for type in types %}
            <option value="{{ type.getId() }}"
                {% if product.getType() == type %}selected="selected"{% endif %}
                >{{ type.getName() }}</option>
            {% endfor %}
        </select>
    </div>


<div class="form-group">
    <label for="categories" class="col-sm-2 control-label">Catégories : </label>
    <select multiple name="categories[]" class="selectpicker">
        {% for category in categories %}
        <option value="{{ category.id }}"
        {% if category.selected %}selected="selected"{% endif %}
        >{{ category.title }}</option>
        {% endfor %}
    </select>

    <a href="{{ url('admineditcategory') }}"class="btn btn-primary pull-right"  >Ajouter une catégorie</a>

</div>

<div class="form-group">
    <label for="ingredients" class="col-sm-2 control-label">Ingrédients : </label><br />
    <select multiple name="ingredients[]">
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.id }}"
        {% if ingredient.selected %}selected="selected"{% endif %}
        >{{ ingredient.name }}</option>
        {% endfor %}
    </select>
    <a href="{{ url('admineditingredient') }}" class="btn btn-primary pull-right"  >Ajouter un ingrédient</a>
</div>
<div class="form-group text-centered">


<input type="submit" value="Valider" class="btn btn-large btn-primary  center-block"  />
</div>

</form>
<p>
<a href="{{ url('admineditproduct') }}" class="btn btn-default"  >Ajouter un produit</a>
<a href="{{ url('adminproductslist') }}" class="btn btn-default"  >Lister les poduits</a>
<a href="{{ url('admincategorieslist') }}" class="btn btn-default"  >Lister les catégories</a>
</p>
