{% if orphans|length > 0 %}
{% set iProducts = products|length %}
{% set iOrphans = orphans|length %}
{#% set progressPercent = (iOrphans * 100 / iProducts)| number_format %#}
{% set progressPercent = 100 - (iProducts * iOrphans / 100 )| number_format %}

{% if flashMessenger().hasMessages() %}
    {% for message in flashMessenger().getMessages() %}
    <span class="alert alert-success" role="alert">
        {{ message }}
    </span>
    {% endfor %}
{% endif %}
<hr />

<div class="alert alert-info" role="alert">
    Il y'a {{ iOrphans }} produit(s) sans catégorie (sur {{ iProducts }}).<br />
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{progressPercent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressPercent}}%;">
        {{progressPercent}}% effectué
      </div>
    </div>
    <ul>
    {% for product in orphans %}
        <li><a href="{{ url('admineditproduct') }}{{ product.getId() }}" ><strong>{{ product.getTitle() }}</strong></a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<h3>Listing produit</h3>
<table name="products">
    <tr>

        <th width="15%">Titre</th>
        <th width="45%">Description</th>
        <th width="20%" style="text-align: center">Type</th>
        <th width="5%">Status</th>
        <th width="5%">Action</th>
        <th width="5%">Prix</th>
        <th width="10%">Image</th>
    </tr>
    {% for product in products %}
    <tr>
        <td><strong>{{ product.getTitle() }}</strong></td>
        <td>{{ product.getDescription() }}</td>
        <td style="text-align: center">{{ product.getType().getName() }}</td>
        <td>{% if product.getState().getName() == 'disponible' %}
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            {% endif %}</td>
        <td><a href="{{ url('admineditproduct') }}{{ product.getId() }}" >Éditer</a></td>
        <td><a href="{{ url('admineditarticles') }}{{ product.getId() }}" > [+] </a></td>
        <td><a href="{{ url('fetchimage') }}?product_id={{ product.getId() }}" >
            {% if product.getMainMedia().slug() %}Modifier{% else %}Ajouter{% endif %}</a>
        </td>
    </tr>
{% endfor %}
</table>
<hr />
<p>
<a href="{{ url('admineditproduct') }}" class="btn btn-default"  >Ajouter un produit</a>
<a href="{{ url('adminproductslist') }}" class="btn btn-default"  >Lister les poduits</a>
<a href="{{ url('admincategorieslist') }}" class="btn btn-default"  >Lister les catégories</a>

</p>
